body {
    font-face: Helvetica, sans-serif;
}

#pageview, #tools {
    margin: 1em;
    padding: 1em;
    border: 1px solid #BEDCE7;
    color: black;
    background-color: #EAF2F5;
}

ins, ins * {
    color: #060;
    background-color: #AAFFAA;
}

del, del * {
    color: #600;
    background-color: #FFAAAA;
}

form {
    margin: 0 0 1em 0;
}